.containerTotal {
    width: 90vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 4px;

    margin-top: 10px;
    color: #212529;
    font-family: 'Nunito';
    font-weight: 700;
}

.containerTotal > p {
    color: #FD377E;
}

@media(min-width: 1024px) {
    .containerTotal{
        width: 90%;
    }
}